body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #000000;
}
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 300px;
    background: linear-gradient(#AEFEAA, #F6FD84);
    color: #000;
    text-align: center;
    font-size: 20px;
}

.user img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    margin-bottom: 10px;
}

input {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}