body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #000000;
}
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.user {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding-top: 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 400px;
    background: linear-gradient(#AEFEAA, #F6FD84);
    color: #000;
    text-align: center;
    font-size: 20px;
    > img {
        width: 250px;
        height: 170px;
        border-radius: 15px;
 
}
}

input {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
i {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 32px;
    &.bx-male-sign {
        color:blue;
    }
    &.bx-female-sign {
        color: pink;
    }
}

